.res-circle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
    min-width: 35px;
    border-radius: 50%;
  
    /* (B) BACKGROUND COLOR */ 
    background: #f8f9fa;
   
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: 0;
    position: relative;
  }
   
  /* (D) MATCH HEIGHT */
  .res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
   
  /* (E) TEXT BLOCK */
  .circle-txt {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 33px;
    color:#6c757d;
    /* (E2) THE FONT - NOT REALLY IMPORTANT */
    font-family: arial, sans-serif;
    font-weight: bold;
  }
  