<h2 class="brand-text font-weight-light">Correlação</h2>
<div class="card card-primary">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default card-tabs">
                    <div class="card-header p-0 pt-1">
                        <!--Tabs-->
                        <ul class="nav nav-tabs" id="custom-tabs-five-tab" role="tablist">
                            <li class="nav-item" (click)="onAssunto()">
                                <a class="nav-link active" id="tab-assunto-tab" data-toggle="pill" href="#tab-assunto"
                                    role="tab" aria-controls="tab-assunto" aria-selected="true">Assunto</a>
                            </li>
                            <li class="nav-item" (click)="onClasse()">
                                <a class="nav-link" id="tab-classe-tab" data-toggle="pill" href="#tab-classe" role="tab"
                                    aria-controls="tab-classe" aria-selected="false">Classe</a>
                            </li>
                            <li class="nav-item" (click)="onMovimento()">
                                <a class="nav-link" id="tab-mov-tab" data-toggle="pill" href="#tab-mov" role="tab"
                                    aria-controls="tab-mov" aria-selected="false">Movimento</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <!--Panels-->
                        <div class="tab-content" id="tabs">

                            <form role="formCorr" [formGroup]="formCorr">
                                <div class="row">

                                    <app-texto-comum-filter class="col-md-4" [formGroupMaster]="formCorr"
                                        controlName="codCnjCjf" tittle="Código CNJ/CJF" id="corrCodCnjCjf" required>
                                    </app-texto-comum-filter>

                                    <app-texto-comum-filter class="col-md-4" [formGroupMaster]="formCorr"
                                        controlName="descrCnj" tittle="Descrição CNJ" id="corrDescrCnj" required>
                                    </app-texto-comum-filter>

                                    <app-check-comum-filter class="col-md-1 d-flex align-items-center"
                                        [formGroupMaster]="formCorr" controlName="indAtivo" tittle="Ativos"
                                        id="corrAtivos"></app-check-comum-filter>

                                    <app-check-comum-filter class="col-md-1 d-flex align-items-center"
                                        [formGroupMaster]="formCorr" controlName="nomeExato" tittle="Nome Exato"
                                        id="corrNomeExato"></app-check-comum-filter>

                                </div>

                            </form>

                            <div class="d-flex mt-4 justify-content-end">
                                <button class="btn btn-info mr-2" style="width:247px;" (click)="onSearch()">
                                    <i class="fa fa-search"></i> Consultar
                                </button>
                                <button class="btn btn-secondary" style="width:247px;" (click)="onClearControl()">
                                    <i class="fa fa-eraser"></i> Limpar
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.Tabs -->
                <app-grid-basic [grid]="correlacaoView.grid"></app-grid-basic>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>