<app-mov-detalhe-modal [set]="detalhes"></app-mov-detalhe-modal>
<div id="grid" class="mt-3" [hidden]="grid.data.content.length == -1">   
    
    <div class="form-group">
        <ag-grid-angular #agGrid style="width: 100%; height: 380px;" class="ag-theme-alpine" [animateRows]="true"
            [rowData]="grid.data.content" [columnDefs]="grid.columns" (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            [pagination]="false" [paginationAutoPageSize]=false [rowHeight]=34            
            [defaultColDef]="defaultColDef" 
            [enableCellTextSelection]=true                  
            [frameworkComponents]="frameworkComponents"
            
            >
        </ag-grid-angular>
        <div *ngIf="grid.data.numberOfElements > 0" class="mt-1 d-flex justify-content-end">
            <label class="mt-1 col-group-label"> {{grid.data.pageable.offset}} á {{grid.data.numberOfElements}} de
                {{grid.data.totalElements}}</label>
            <button [disabled]="grid.data.first" class="ml-1 btn btn-sm" (click)="goPageFirst()"><i
                    class="zmdi zmdi-fast-rewind zmdi-hc-lg"></i></button>
            <button [disabled]="grid.data.first" class="ml-1 btn btn-sm" (click)="goPagePrevio()"><i
                    class="zmdi zmdi-skip-previous zmdi-hc-lg"></i></button>
            <label class="mt-1"> Pag. {{grid.data.pageable.pageNumber}} de {{grid.data.totalPages}}</label>
            <button [disabled]="grid.data.last" class="ml-1 btn btn-sm" (click)="goPageNext()"><i
                    class="zmdi zmdi-skip-next zmdi-hc-lg"></i></button>
            <button [disabled]="grid.data.last" class="ml-1 btn btn-sm" (click)="goPageLast()"><i
                    class="zmdi zmdi-fast-forward zmdi-hc-lg"></i></button>
        </div>
    </div>
    <hr class="mb-1">
    <div class="d-flex justify-content-end" *ngIf="false">
        <app-xlsx [data]="dataGrid"></app-xlsx>
    </div>
    <hr class="mt-1">
</div>
