<!-- Timelime example  -->
<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <div class="timeline">
            <!-- timeline time label -->
            <div class="time-label mt-3 ml-2">
                <span class="bg-gray">15 Dezembro, 2020 - v4.0.0</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-wrench bg-yellow"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                    <h3 class="timeline-header no-border"><a href="#">Suporte</a>
                        Ajustar
                        tamanho dos campo da
                        tela de
                        publicação</h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-plus bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:06</span>
                    <h3 class="timeline-header no-border"><a href="#">Suporte</a>
                        Criar
                        tela de
                        consulta
                        processual</h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <div class="time-label ml-2">
                <span class="bg-gray">18 Maio, 2020 - v3.0.0</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-plus bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:06</span>
                    <h3 class="timeline-header no-border"><a href="#">Suporte</a>
                        Possibilitar a
                        inserção do
                        número do
                        processo clicando (enter)</h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-plus bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:06</span>
                    <h3 class="timeline-header no-border"><a href="#">Suporte</a>
                        Possibilitar
                        leitura do processo
                        por meio
                        de leitor de código de barras</h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-plus bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:06</span>
                    <h3 class="timeline-header no-border"><a href="#">Suporte</a>
                        Possibilitar
                        digitação rápida do
                        processo
                        utilizando formato simplificado (sequencial*ano*)</h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-plus bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:06</span>
                    <h3 class="timeline-header no-border"><a href="#">Suporte</a>
                        Possibilitar
                        Movimentação fase
                        15 –
                        Recebimento</h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-plus bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:06</span>
                    <h3 class="timeline-header no-border"><a href="#">Suporte</a>
                        Possibilitar
                        Movimentação de
                        Vários
                        Processos – disponibilizados para as fases: 13, 14, 15, 99 e
                        111
                    </h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-plus bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:06</span>
                    <h3 class="timeline-header"><a href="#">Suporte</a> Relatório do
                        Boletim de
                        Publicação que
                        atende aos
                        relatórios abaixo solicitados: </h3>
                    <p class="timeline-body">
                        ° Relatório dos processos incluídos em edital de eliminação,
                        fase 99,
                        tipo 9903. <br />
                        ° Relatório dos processos movimentados na fase 99, tipos
                        9904,
                        9902 e
                        9907. <br />
                        ° Relatório de processos movimentados na fase 99-9903, que
                        não
                        tenham
                        recebido movimentação
                        posterior em uma das fases 99-9902, 99-9904 ou 99-9907.
                        <br />
                        ° Geração de boletim de publicação com os processos
                        movimentados
                        na fase
                        99-9903 (inclusão
                        em edital de eliminação). <br />
                    </p>
                </div>
            </div>
            <!-- END timeline item -->
            <div>
                <i class="fas fa-clock bg-gray"></i>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>